/*reseteo de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  /* Declaro media query para diferentes tipos de dispositivos. */
  @media only screen and (max-width: 370px) {
    body {
      font-size: 0.5em;
    }
  }

/*fin de reseteo*/

/*armado de grilla para pagina principal */
#grillaIndex{
  display: grid;
  grid-template-rows: auto auto auto;
}

/*/.borderIndex{
  border:1px solid black
}*/

.fit-picture {
  width: 50px;
  }

.queHacemos{
            li {
                  margin-left: 100px; /* Add space between list items */
                }
  
            ul{
                  margin-bottom: 30px;
              }
  }

.plantelProfesional{
                    h5{
                        color:black;
                        background-color: antiquewhite;
                      }

                    p {
                        color:black;
                        background-color: antiquewhite;
                      }
                    
  }

.DondeEstamos{
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}

.carousel-item {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  

.footer{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    
}

.fit-picture {
  width: 96px;
  height: 96px;
  object-fit: contain;
}

/* Clases para pagina MasInformación.HTML */


.NuestrasInstalaciones{
  
  margin-left: auto;
  margin-right: auto;
  width: 75%;

}

.d-flex {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 370px) {
  .d-flex {
      flex-direction: column;
      align-items: center;
  }
}

.center-iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Make the image fully responsive */
.carousel-inner img {
  width: 80%;
  height: 80%;
}

.carousel-margins {
  margin-left: 20px;
  margin-right: 20px;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.align-right {
  text-align: left;
}