//trabajo con colores paletas dentro del sitio
$font-color-primary: #000  ;
$font-size-primary: 1.5rem;

$font-color-secondary: pink   ;
$font-size-secondary: 1rem;

//Tamaños de fuentes
$font-small: 1rem;
$font-medium: 1.6rem;
$font-large: 2rem;
$font-xl: 3rem;

// mapas (solicitado para la preentrega...
$spacings: (
    xsmall: 1rem,
    small: 1.3rem,
    medium: 1.6rem,
    large: 2rem
);

//mapas


$margin-sizes: (
    "very-stretch": 0.5rem,
    "stretch": 2rem, 
    "normal": 3rem,
    "large": 4rem,
    "xlarge":7rem)



  
 